*{
  margin: 0%;
  padding: 0%;
}
body{
  background-image: url(bgc.png);
  background-size: initial;
  font-family: serif;
}

.start{
  font-family: serif;
  display: flex;
  .my-card{
    background-color: rgb(237, 236, 236);
    height: 300px;
    width: 18.5%;
    /* background-color: red; */
    /* border: 1px solid grey; */
    margin: 30px 25px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px rgb(65, 63, 63);
    .img{
      height: 100px;
      width: 100px;
      /* background-color: green; */
      border-radius: 50%;
      margin: auto;
      overflow: hidden;
      img{
        height: 115%;
        object-fit: cover;
        margin-left: 0px;
      }
    }
    .links{
      display: flex;
      justify-content: center;
      .link{
        i{
          font-size: 20px;
        }
        display: flex;
        margin: 5px 5px;
        flex-direction: column;
        
      }
    }

  }
  .main-cont{
    height: auto;
    background-color: rgb(237, 236, 236);

    width: 75%;
    /* background-color: red; */
    margin: 20px 20px;
    box-shadow: 1px 2px 8px rgb(65, 63, 63);
    border-radius: 20px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    .auto{
      height: 150px;
      margin: 30px 30px;
      #auto-typer{
        margin-top: 100px;
        font-size: 35px;
        width: 200px;
        height: 200px;
        /* background-color: red; */
        font-weight: 500;
      }
    }
    .skill{
      .skilss{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .card{
          margin: 10px 10px;
          box-shadow: 1px 5px 10px black;
          .card-body{
            i{
              font-size: 60px;
              margin: 5px 5px;
            }
          }
        }
      }
    }
  }
  .contact{
    padding-top: 30px;
    /* height: 400px; */
    flex-wrap: wrap;
    justify-content: center;
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input{
        margin: 10px 10px;
        height: 40px;
        padding-left: 10px;
        width: 300px;
        border-radius: 20px;
        border: 1px solid  black;
      }
      textarea{
        height: 200px;
        margin: auto;
        width: 300px;
      }
      button{
        margin: 20px 20px;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}
.core{
  height: auto;
  padding: 10px 10px;
  width: 100%;
  /* background-color: red; */
  margin-top: 50px;
}
footer{
  margin-top: 0px;
  height: auto;
  width: 100%;
  background-image: url(stone-texture-background.jpg);
  background-size: cover;
  .sections{
    height: 300px;
    display: flex;
    .section{
      height: 100%;
      width: 30%;
      /* background-color: red; */
      margin-left: 10px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
@media (max-width:500px) {
  .start{
    display: flex;
    flex-direction: column;
    .my-card{
      height: auto;
      width: 90%;
      /* background-color: red; */
      /* border: 1px solid grey; */
      margin: 20px 15px;
      padding: 20px 20px;
      border-radius: 20px;
      box-shadow: 1px 2px 8px rgb(65, 63, 63);
      .img{
        height: 100px;
        width: 100px;
        /* background-color: green; */
        border-radius: 50%;
        margin: auto;
        overflow: hidden;
        img{
          height: 100%;
          object-fit: contain;
        }
      }
      .links{
        display: flex;
        justify-content: center;
        .link{
          i{
            font-size: 16px;
          }
          display: flex;
          margin: 5px 5px;
          flex-direction: column;
          
        }
      }
  
    }
    .main-cont{
      height: auto;
      padding-bottom: 20px;
      width: 90%;
      /* background-color: red; */
      margin: 15px 20px;
      box-shadow: 1px 2px 8px rgb(65, 63, 63);
      border-radius: 20px;
      display: flexbox;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      .auto{
        height: 140px;
        #auto-typer{
          margin: 100px 50px;
          margin-top: 100px;
          font-size: 25px;
          width: 200px;
          height: 200px;
          /* background-color: red; */
          font-weight: 500;
        }
      }
      .skill{
        .skilss{
          height: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .card{
            width: 40%;
            margin: 5px 5px;
            .card-body{
              
              i{
                font-size: 40px;
                margin: 5px 5px;
              }
            }
          }
        }
      }
    }
  }
  footer{
    margin-top: 0px;
    height: auto;
    width: 100%;
    background-image: url(stone-texture-background.jpg);
    background-size: cover;
    .sections{
      height: auto;
      display: flex;
      flex-direction: column;
      .section{
        margin-top: 50px;
        height: auto;
        width: 100%;
        padding-top: 30px;
        /* background-color: red; */
        margin-left: 10px;
        margin: 5px 5px;
      }
    }
  }
}